<!-- component -->
<div class="p-d-flex p-ai-center p-jc-center p-m-0">
  <aside
    class="overflow-auto bg-gradient-to-br from-gray-800 to-gray-900 -translate-x-80 fixed inset-0 z-40 my-4 ml-4 h-[calc(100vh-32px)] w-72 rounded-xl transition-transform duration-300 xl:translate-x-0"
  >
    <div class="relative border-b border-white/20">
      <a class="flex items-center gap-4 py-6 px-8" href="#/">
        <h6
          class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-white"
        >
          Curso-App
        </h6>
      </a>
    </div>
    <div class="m-4">
      

      <app-dropdown [config]="dropdownConfigPractica1"/>
      <app-dropdown [config]="dropdownConfigPractica2"/>
    </div>
  </aside>
</div>
