<!-- component -->
<div class="p-d-flex p-ai-center p-jc-center p-m-0">
  <aside
    class="bg-gradient-to-br from-gray-800 to-gray-900 -translate-x-80 fixed inset-0 z-40 my-4 ml-4 h-[calc(100vh-32px)] w-72 rounded-xl transition-transform duration-300 xl:translate-x-0"
  >
    <div class="relative border-b border-white/20">
      <a class="flex items-center gap-4 py-6 px-8" href="#/">
        <h6
          class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-white"
        >
          Curso-App
        </h6>
      </a>
    </div>
    <div class="m-4">
      <ul class="mb-4 flex flex-col gap-1">
        @for (item of menuItems; track $index) {
        <li>
          <a
            [routerLink]="[item.path]"
            routerLinkActive="bg-blue-800"
            class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-white hover:bg-white/10 active:bg-white/30 w-full flex items-center gap-4 px-4 capitalize"
          >
            <button>
              <p
                class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize"
              >
                {{ item.title }}
              </p>
            </button>
          </a>
        </li>
        }
      </ul>

      <app-dropdown [config]="dropdownConfig"/>
    </div>
  </aside>
</div>
