<app-dialog/>
<div class="w-full min-h-full p-6 shadow-lg rounded-lg">
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-xl font-semibold text-gray-800">Gestión de Usuarios</h2>
    <div class="flex space-x-2">
      <app-buttom (click)="openModal()" titulo="Nuevo" estilos="p-button-success"/>

      
      <button
        class="rounded bg-blue-500 hover:bg-blue-600 px-4 py-2 text-white transition"
      >
        <span>Exportar PDF</span>
      </button>
    </div>
  </div>

  <div
    class="w-full h-full shadow-inner max-h-[calc(100vh-200px)] bg-white rounded-lg overflow-auto"
  >
    <table class="min-w-full  rounded-lg">
      <thead class="sticky top-0 bg-slate-200 ">
        <tr class=" text-black uppercase text-xs font-medium">
          <th class="py-3 px-6 text-left">ID</th>
          <th class="py-3 px-6 text-left">USUARIO</th>
          <th class="py-3 px-6 text-left">ROL</th>
          <th class="py-3 px-6 text-left">CREADO</th>
          <th class="py-3 px-6 text-left">ÚLTIMA ACTUALIZACIÓN</th>
          <th class="py-3 px-6 text-center">Acciones</th>
        </tr>
      </thead>
      <tbody class="text-gray-700 text-sm max-h-svh b">
        @for (user of usuariosService.users(); track user.id) {
        <tr class="border-b border-gray-200 hover:bg-gray-50">
          <td class="py-3 px-6">{{ user.id }}</td>
          <td class="py-3 px-6">{{ user.user }}</td>
          <td class="py-3 px-6">{{ user.role }}</td>
          <td class="py-3 px-6">{{ user.createdAt }}</td>
          <td class="py-3 px-6">{{ user.updatedAt }}</td>
          <td class="py-3 px-6">
            <div class=" flex justify-center space-x-2">
              <button
              
                class=" w-10 rounded bg-green-500 hover:bg-green-600 px-2 py-2 text-white transition"
              >
                <span>Add</span>
              </button>

              <button
                class=" w-10 rounded bg-orange-500 hover:bg-orange-600 px-2 py-2 text-white transition"
              >
                <span>Edit</span>
              </button>

              <button
                class=" w-10 rounded bg-red-500 hover:bg-red-600 px-2 py-2 text-white transition"
              >
                <span>Eli</span>
              </button>
            </div>
          </td>
        </tr>
        }@empty {
        <tr class="border-b border-gray-200 hover:bg-gray-50">
          <td class="py-3 px-6 text-center">
            <div class="  rounded-md p-4 max-w-sm w-full mx-auto">
                <div class="animate-pulse flex space-x-4">
                  <div class="flex-1 space-y-6 py-1">
                    <div class="h-2 bg-slate-200 rounded"></div>
                  </div>
                </div>
              </div>
          </td>
          <td class="py-3 px-6 text-center">
            <div class="  rounded-md p-4 max-w-sm w-full mx-auto">
                <div class="animate-pulse flex space-x-4">
                  <div class="flex-1 space-y-6 py-1">
                    <div class="h-2 bg-slate-200 rounded"></div>
                  </div>
                </div>
              </div>
          </td>
          <td class="py-3 px-6 text-center">
            <div class="  rounded-md p-4 max-w-sm w-full mx-auto">
                <div class="animate-pulse flex space-x-4">
                  <div class="flex-1 space-y-6 py-1">
                    <div class="h-2 bg-slate-200 rounded"></div>
                  </div>
                </div>
              </div>
          </td>
          <td class="py-3 px-6 text-center">
            <div class="  rounded-md p-4 max-w-sm w-full mx-auto">
                <div class="animate-pulse flex space-x-4">
                  <div class="flex-1 space-y-6 py-1">
                    <div class="h-2 bg-slate-200 rounded"></div>
                  </div>
                </div>
              </div>
          </td>
          <td class="py-3 px-6 text-center">
            <div class="  rounded-md p-4 max-w-sm w-full mx-auto">
                <div class="animate-pulse flex space-x-4">
                  <div class="flex-1 space-y-6 py-1">
                    <div class="h-2 bg-slate-200 rounded"></div>
                  </div>
                </div>
              </div>
          </td>
          <td class="py-3 px-6 text-center">
            <div class="  rounded-md p-4 max-w-sm w-full mx-auto">
                <div class="animate-pulse flex space-x-4">
                  <div class="flex-1 space-y-6 py-1">
                    <div class="h-2 bg-slate-200 rounded"></div>
                  </div>
                </div>
              </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
