
<div class="flex flex-col gap-1 rounded-lg w-full shadow-lg">
  <div>
    <a
      (click)="toggleMenu()"
      [ngClass]="{ 'bg-blue-900': menuOpen, 'bg-transparent': !menuOpen }"
      class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-white hover:bg-blue-700 active:bg-blue-900 w-full flex items-center gap-4 px-4 capitalize cursor-pointer"
    >
      <div class="flex w-full items-center justify-start space-x-2">
        <svg
          class="-mr-1 h-5 w-5 text-gray-400 transition-transform"
          [ngClass]="{ 'rotate-180': menuOpen }"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
            clip-rule="evenodd"
          />
        </svg>
        <p
          class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize"
        >
          {{config().buttonTitle}}
          
        </p>
      </div>
    </a>
  </div>

  <div
    [ngClass]="menuOpen ? 'max-h-screen opacity-100' : 'max-h-0 opacity-0'"
    class="overflow-hidden transition-all duration-300 ease-in-out bg-gradient-to-br from-gray-900 to-gray-950 w-full rounded-b-lg"
  >
    <ul class="mb-4 flex flex-col gap-1 p-4">
      @for (item of config().items; track $index) {
      <li >
        <a
          [routerLink]="[item.path]"
          routerLinkActive="bg-blue-800"
          class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-white hover:bg-white/10 active:bg-white/30 w-full flex items-center gap-4 px-4 capitalize"
        >
          <p
            class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize"
          >
            {{ item.title }}
          </p>
        </a>
      </li>
    }
    </ul>
  </div>
</div>

